.select-form {
  .MuiFormLabel-root {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #1A051D;
  }
  .MuiOutlinedInput-root {
    border-radius: 6px;
  }
  .PrivateNotchedOutline-root-112 {
    border-color: transparent;
  }

}
